{{> post-info post}}

{{#if loggedIn}}
<section>
  <form class="comment-form">
    <div id="modalRegisterForm" class="hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
      aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h4 class="modal-title w-100 font-weight-bold">Add Comment</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="close-comment">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body mx-3">
            <div class="md-form mb-5">
              <i class="fas fa-envelope prefix grey-text"></i>
              <textarea id="post-contents" name="comment-body" class="d-flex p-2 w-100"></textarea>
              <label data-error="wrong" data-success="right" for="orangeForm-email" class="font-weight-bold m-2">Comment</label>
            </div>
          </div>
          <div class="modal-footer d-flex justify-content-center">
            <button class="btn font-weight-bold" type="submit">Save</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</section>
{{/if}}

{{> comments post.comments}}

<script src="/javascript/comment.js"></script>
